<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hive.TBLS.persistence.dao.dirInfoMapper" >
  <resultMap id="BaseResultMap" type="hive.TBLS.model.dirInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="path" property="path" jdbcType="VARCHAR" />
    <result column="is_dir" property="isDir" jdbcType="BIT" />
    <result column="length" property="length" jdbcType="BIGINT" />
    <result column="mod_time" property="modTime" jdbcType="TIMESTAMP" />
    <result column="owner" property="owner" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, path, is_dir, length, mod_time, owner
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from dir_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from dir_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="hive.TBLS.model.dirInfo" >
    insert into dir_info (id, path, is_dir, length, 
      mod_time, owner)
    values (#{id,jdbcType=BIGINT}, #{path,jdbcType=VARCHAR}, #{isDir,jdbcType=BIT}, #{length,jdbcType=BIGINT}, 
      #{modTime,jdbcType=TIMESTAMP}, #{owner,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="hive.TBLS.model.dirInfo" >
    insert into dir_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="path != null" >
        path,
      </if>
      <if test="isDir != null" >
        is_dir,
      </if>
      <if test="length != null" >
        length,
      </if>
      <if test="modTime != null" >
        mod_time,
      </if>
      <if test="owner != null" >
        owner,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="isDir != null" >
        #{isDir,jdbcType=BIT},
      </if>
      <if test="length != null" >
        #{length,jdbcType=BIGINT},
      </if>
      <if test="modTime != null" >
        #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="owner != null" >
        #{owner,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="hive.TBLS.model.dirInfo" >
    update dir_info
    <set >
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="isDir != null" >
        is_dir = #{isDir,jdbcType=BIT},
      </if>
      <if test="length != null" >
        length = #{length,jdbcType=BIGINT},
      </if>
      <if test="modTime != null" >
        mod_time = #{modTime,jdbcType=TIMESTAMP},
      </if>
      <if test="owner != null" >
        owner = #{owner,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="hive.TBLS.model.dirInfo" >
    update dir_info
    set path = #{path,jdbcType=VARCHAR},
      is_dir = #{isDir,jdbcType=BIT},
      length = #{length,jdbcType=BIGINT},
      mod_time = #{modTime,jdbcType=TIMESTAMP},
      owner = #{owner,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>